%html
	%head
		%title Orange SocialQ Scenario Publisher
		%img(src="/images/orange-logo-400.jpg" align="left" alt="Orange" width="100" height="100")
	%body
		%h1 SocialQ Scenario Publisher
		%h3 Scenario #{@scenario}
		- @messages.each_with_index do |msg, index|
			%a{:href=>"/posts/#{index}", :data => { :message => msg }} Message #{index + 1}
		%p
		%p
		%h3 Additional Links
		%a{:href=>"/scenarios"} Back to Scenarios
		%p
		%a{:href=>"/reset"} Reset SocialQ