%html
	%head
		%title Orange SocialQ Scenario Publisher
		%img(src="/images/orange-logo-400.jpg" align="left" alt="Orange" width="100" height="100")
	%body
		%h1 SocialQ Scenario Publisher
		%h3 Scenario #{@scenario} Deleted!
		%h3 Additional Links
		%a{:href=>"/scenarios"} Back to Scenarios
		%br
		%a{:href=>"/reset"} Reset SocialQ