%html
	%head
		%title Orange SocialQ Scenario Publisher
		%img(src="/images/orange-logo-400.jpg" align="left" alt="Orange" width="100" height="100")
	%body
		%h1 SocialQ Scenario Publisher
		%h3 Scenarios
		- @scenarios.each do |k, v|
			%a{:href=>"/scenario/#{k}"} #{k}
		%p
		%p 
		%a{:href=>"/reset"} Reset SocialQ